{% extends "base.html" %}
{% block content %}
	<div class="container" align="center">
		<h1>회원가입</h1>
		<form id="write" method="post" action="" >
		{% csrf_token %}
		<table border="1">
			<!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 class를 부여한다 -->
			<tr><td>아이디</td>   <td><input type="text" name="mid"></td></tr>
			<tr><td>비밀번호</td>  <td><input type="password" name="mpassword"></td></tr>
			<tr><td>이름</td>     <td><input type="text" name="mname"></td></tr>
			<tr><td>전화번호</td>  <td><input type="text" name="mphone"></td></tr>
			<tr><td>우편번호</td>  <td><input type="text" name="mpost_no" class="postcodify_postcode5"><button id="postcodify_search_button">검색</button></td></tr>
			<tr><td>도로명주소</td> <td><input type="text" name="maddress" class="postcodify_address"></td></tr>
			<tr><td>상세주소</td>  <td><input type="text" name="maddress_detail" class="postcodify_details"></td></tr>
			
			<tr><td colspan="3"><button type="submit" class="btn btn-primary">가입</button>
			<button type="reset" class="btn btn-primary">취소</button>
			<button type="button" class="btn btn-primary" onclick="location.href='/member/list'">목록</button></td></tr>
		</table>
		</form>
		<!-- jQuery와 Postcodify를 로딩한다 -->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
			<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
			<!-- "검색" 단추를 누르면 팝업 레이어가 열리도록 설정한다 -->
			<script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>
		</div>
{% endblock content %}