{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width" initial-scale="1">
<title>Coding Booster</title>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'>
<link href="/static/css/boost.css" rel='stylesheet' type='text/css'>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	
<link href="/static/css/sungs.css" rel='stylesheet' type='text/css'>
<script>
$(document).ready(function() {
    $('#example').DataTable({
    	stateSave: true,
    	"scrollX": true,
    	"language": {
            "decimal": ".",
            "thousands": ",",
            "info": "보이는페이지 _PAGE_ / _PAGES_",
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Korean.json"
        },
        "lengthMenu": [[5,10, 15, 20,50, -1], [5,10, 15,20, 50, "All"]]
    });
} );
</script>


<script>
	$(document).ready(function() {
		$('#header_div').load('/static/common/header.html');
		$('#footer_div').load('/static/common/footer.html');
	});
</script>
	
</head>
<body>
	<div id="header_div"></div>


	*************************필요내용예*****************************

	<section class="resume-section p-3 p-lg-5 d-flex align-items-center"
		id="각종통계">
		<div class="w-100">
			<h2 class="mb-5">DEV-ICONS</h2>

			<div class="subheading mb-3">Programming Languages &amp; Tools</div>
			<ul class="list-inline dev-icons">
				<li class="list-inline-item"><i class="fab fa-html5"></i></li>
				<li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
				<li class="list-inline-item"><i class="fab fa-js-square"></i></li>
				<li class="list-inline-item"><i class="fab fa-angular"></i></li>
				<li class="list-inline-item"><i class="fab fa-react"></i></li>
				<li class="list-inline-item"><i class="fab fa-node-js"></i></li>
				<li class="list-inline-item"><i class="fab fa-sass"></i></li>
				<li class="list-inline-item"><i class="fab fa-less"></i></li>
				<li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
				<li class="list-inline-item"><i class="fab fa-gulp"></i></li>
				<li class="list-inline-item"><i class="fab fa-grunt"></i></li>
				<li class="list-inline-item"><i class="fab fa-npm"></i></li>
			</ul>

			<div class="subheading mb-3">Workflow</div>
			<ul class="fa-ul mb-0">
				<li><i class="fa-li fa fa-check"></i> Mobile-First, Responsive
					Design</li>
				<li><i class="fa-li fa fa-check"></i> Cross Browser Testing
					&amp; Debugging</li>
				<li><i class="fa-li fa fa-check"></i> Cross Functional Teams</li>
				<li><i class="fa-li fa fa-check"></i> Agile Development &amp;
					Scrum</li>
			</ul>
		</div>
	</section>

	******************************************************************

	<div id="footer_div"></div>
	
</body>
</html>